.Footer{
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;

}
.Footer-Content{
  width:100% ;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.Footer-Content-Right , .Footer-Content-Center ,.Footer-Content-Left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  cursor: pointer;
}

.Footer-Content-Right h2 , .Footer-Content-Center h2,.Footer-Content-Left h2{
  color: white;
}
.Footer-Social-Icons img{
  width:40px;
  margin-right: 15px;
}
.Footer hr{
  width:100%;
  height:2px;
  margin: 20px 0 ;
  background-color: grey;
  border: none;
}
@media (max-width:750px) {
  .Footer-Content{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copywrite{
    text-align: center;
  }
  
}